section {
    padding: 63px;
}

h1.section-title {
    font-size: 64px;
}

/*==============TILE BACKGROUNDS===============*/
#test {
    background-color: var(--col-bg2);
}
#test:hover {
    background-color: var(--col-bg3);
}

#test2 {
    background-color: var(--col-bg3);
}
#test2:hover {
    background-color: var(--col-bg4);
}