section {
    padding: 63px;
}

h1.section-title {
    font-size: 64px;
}

/*==============TILE BACKGROUNDS===============*/
.flex-tile {
    background-color: var(--col-bg2);
}
.flex-tile:hover {
    background-color: var(--col-bg3);
}